{% extends 'blog/base.html' %}
{% load staticfiles %}
{ %  load  bbcode_tags  % }

  {% block content %}
  
<br>
<br>
<br>
    <div class="marge">
        <div id="color">
          <h2>Couleurs</h2>
          <h6>Pour chaque couleur recopier le texte de cette même couleur.</h6>
          <hr>
          <p class="red-text">red</p>
          <p class="pink-text">pink</p>
          <p class="purple-text">purple</p>
          <p class="deep-purple-text">deep</p>
          <p class="indigo-text">indigo</p>
          <p class="blue-text">blue</p>
          <p class="light-blue-text">light-blue</p>
          <p class="cyan-text">cyan</p>
          <p class="teal-text">teal</p>
          <p class="green-text">green</p>
          <p class="light-green-text">light</p>
          <p class="lime-text">lime</p>
          <p class="yellow-text">yellow</p>
          <p class="amber-text">amber</p>
          <p class="orange-text">orange</p>
          <p class="deep-orange-text">deep-orange</p>
          <p class="brown-text">brown</p>
          <p class="grey-text">grey</p>
          <p class="blue-grey-text">blue-grey</p>
          <p class="mdb-color white-text">white</p>
          <p class="text-black-50">text-black-50</p>
          <p class="text-white-50 bg-dark">text-white-50</p>
        </div>
    </div>
	
<div class="marge">
<div id="Icon">
<h2>Icônes</h2>

  <center>
    <h2> <i class="icon-food" aria-hidden="true"></i> Prochainement <i class="fa fa-bell" aria-hidden="true"></i> </h2>
	<br>
	<br>
  </center>
</div>
  {% endblock %}