{% extends 'blog/base.html' %}
{% load staticfiles %}

  {% block content %}
<br>
<br>
<br>
{% if user.is_authenticated %}

{% else %}
<div class="text-center">

    <a href="connexion" class="btn btn-success btn-rounded my-3 waves-effect waves-light"><i class="fa fa-user mr-1"></i> Se Connecter</a>

</div>
{% endif %}
   <h4 class="marge">Jeunes reporters environnements</h4>
<p class="marge">Découvrez tout les projets des jeunes reporters du collège de l'Aigle !
<br>Toutes les infos, tout l’actus ? C’est ici ! Et en plus il y aura prochainement les vidéos.</p>

<!--Carousel Wrapper-->
  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-1z" data-slide-to="1"></li>
      <li data-target="#carousel-example-1z" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        <div class="view" style="background-image: url('{% static 'images/gaspillage.jpg' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Groupe Gaspillage</strong>
              </h1>

              <p>
                <strong>Découvrez nos actions.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Nous luttons contre le gaspillage dans note établissement.</strong>
              </p>

              <a target="_blank" href="/Gaspillage" class="btn btn-outline-white btn-lg">Voir
                <i class="fa fa-fire ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static 'images/armure.png' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Armure Solaire</strong>
              </h1>

              <p>
                <strong>Découvre l'avancé de notre armure.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Nous créons une armure capable de récuperer l'énergie solaire...</strong>
              </p>

              <a target="_blank" href="/panneau solaire" class="btn btn-outline-white btn-lg">Découvrir
                <i class="fa fa-graduation-cap ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Second slide-->

      <!--Third slide-->
      <div class="carousel-item">
        <div class="view" style="background-image: url('{% static 'images/vélo.jpg' %}'); background-repeat: no-repeat; background-size: cover;">

          <!-- Mask & flexbox options-->
          <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

            <!-- Content -->
            <div class="text-center white-text mx-5 wow fadeIn">
              <h1 class="mb-4">
                <strong>Vélo rechargeur</strong>
              </h1>

              <p>
                <strong>Nous créons un vélo capable de recharger vos appareils électroniques.</strong>
              </p>

              <p class="mb-4 d-none d-md-block">
                <strong>Découvrez notre vélo rechargeant les appareils électroniques en pédalants.</strong>
              </p>

              <a target="_blank" href="/vélo" class="btn btn-outline-white btn-lg">Lire
                <i class="fa fa-arrow-right ml-2"></i>
              </a>
            </div>
            <!-- Content -->

          </div>
          <!-- Mask & flexbox options-->

        </div>
      </div>
      <!--/Third slide-->

    </div>
    <!--/.Slides-->

    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->

  </div>
  <!--/.Carousel Wrapper-->
<div class="marge">
<br> <h2><i class="fa fa-newspaper-o" aria-hidden="true"></i> News</h2>

 <div class="text-center my-5">
          <!-- News -->
          <div class="row">
     {% for post in posts %}
            <!-- Colonne -->
            <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
                 <div class="rounded z-depth-2 mb-4">
                <img class="img-fluid" src="{{ post.image.url }}" alt="Image introuvable">
                </div>

              <!-- Groupe -->
              <p><a href="/{{ post.categorie.nom }}" class="{{ post.categorie.color }}-text"><h6 class="font-weight-bold mb-3"><i class="{{ post.categorie.icon }} pr-2"></i>{{ post.categorie.nom }}</h6></a></p>
              <!-- Post title -->
              <h4 class="font-weight-bold mb-3"><strong>{{ post.title }}</strong></h4>
              <!-- Post data -->
              <p>Article de <a class="font-weight-bold">{{ post.auteur.first_name }} {{ post.auteur.last_name }}</a>, {{ post.created_date.day }}/{% if post.created_date.month < 10 %}0{% endif %}{{ post.created_date.month }}/{{ post.created_date.year }}</p>
              <!-- Excerpt -->
			  <hr>
              <p class="dark-grey-text">{{ post.text|truncatewords_html:10 }}</p>
              <!-- Read more button -->
              <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-{{ post.categorie.color }} btn btn-md waves-effect waves-light">Lire La suite</a>

            </div>
            <!--.\ Colonne news -->
{% endfor %}	
        

    </div>
	</div>
	</div>
{% endblock %}