{% extends 'blog/base.html' %}
{% load staticfiles %}

  {% block content %}
<h4 class="marge">Jeunes reporters environnements</h4>
<p class="marge">Découvrez tout les projets des jeunes reporters du collège de l'aigle !
<br>Toutes les infos, tout l’actus ? C’est ici ! Et en plus il y aura prochainement les vidéos.</p>

<!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" role="listbox">
{% for post in posts %}
        <!--First slide-->
        <div class="carousel-item active">
            <div class="col-md-4">
                <div class="card">
                    <img class="img-fluid" src="{% static 'images/jre2017.png' %}" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.text|linebreaksbr }}</p>
                        <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-success waves-effect waves-light">Lire la suite &gt;</a>
                    </div>
                </div>
            </div>

        </div>
        <!--/.First slide-->
{% endfor %}		

    </div>
    <!--/.Slides-->

</div>
<!--/.Carousel Wrapper-->

{% endblock %}