{% extends 'blog/base.html' %}
{% load staticfiles %}
{ %  load  bbcode_tags  % }

  {% block content %}
<br>
<br>
<br>
 {% if user.is_authenticated %}
                                <div align="right">
                                      <a class="btn btn-default waves-effect waves-light" href="{% url 'description_edit' pk=description.pk %}"><i class="fa fa-pencil"></i></a>
		                         </div>
		{% endif %}
		<div class="marge">
              {{ description.corp.rendered }}
         </div>
{% endblock %}